@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&family=Roboto+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    transition: all ease .2s;
  }
  
h1 {
    font-family: "Archivo Black", sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

body, p, div, a, span {
    font-family: 'Roboto', sans-serif;;
}

.desktop {
    display: none !important;
}

.mobile {
    display: flex !important;
}

@media(min-width: 1024px) {
    .desktop {
        display: flex !important;
    }

    .mobile {
        display: none !important;
    }
}
